!lib/README.md
node_modules
*.egg-info
*.iml
*.ipr
*.iws
*.pyc
*.swo
*.swp
*/bin/
*/build
.DS_Store
.cache
.classpath
.coverage
.gradle
.idea
.project
.pytest_cache
.settings
/build
Podfile.lock
Pods
__pycache__
bower_components/*
build/
deps/
dist
dsemu
gen
lib/*
localdb
