
#header_wrap {
    border: solid 0px red;
}

header {
    border: solid 0px blue;
    margin-left: 250px;
    margin-right: 250px;
}

#main_content {
    background: "#ff00ff";
    margin-left: 250px;
    margin-right: 250px;
}
