<div id="header_wrap" class="outer">
    <header class="inner">
        <center>
        <!-- <a id="forkme_banner" href="https://github.com/panyam/ganttsheet">View on GitHub</a> -->
        <table border = "0">
            <tr>
                <td width = "128">
                    <img src = "/static/icons/icon_512.png" id="project_icon" width = 128>
                </td>
                <td width = "500">
                  <h1 id="project_title">Gantt-Sheet</h1>
                  <h2 id="project_tagline">Gantt Charts for Google Sheets</h2>
                </td>
            </tr>
        </table>
        </center>
    </header>
</div>
